$nav-bg: #1a1a1a;
$body-bg: #191919;
$white: #fff;
$black: #000;

$red: #ff4f4f;
$red-trans: #ff4f4f28;

$blue: #4fa0ff;
$blue-trans: #4fa0ff28;

$yellow: #ffb84f;
$js: #ffed4f;
$js-trans: #ffed4f28;

$green: #3dca5c;
$node: #52ff4f;
$node-trans: #52ff4f28;

$skyBlue: #4fdfff;
$skyBlue-trans: #4fdfff28;

$gray: #565252;
$heading-gray: #444444;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: $body-bg;
    font-family: sans-serif;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: $nav-bg;
}
.icons{
    display: none;
}

.link-group{
    list-style: none;
    display: flex;
}

.link span{
    color: $white;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0px 20px;
    line-height: 80px;
    transition: 0.1s;
    font-size: 20px;
    cursor: pointer;
}

.link span:hover, .link.active span{
    opacity: 1;
}

/* ----- home-section ------*/

/* active page css */
.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active{
    position: relative;
    opacity: 1;
    z-index: 8;
}

.home-section{
    width: 100%;
    height: 100vh;
    padding: 0px 150px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    max-width: 1400px;
    transition: 0.1s;
    opacity: 0;
}

.hero-heading{
    color:$white;
    font-size: 120px;
    text-transform: capitalize;
    font-weight: 300;
}

.download-cv-btn{
    padding: 10px 20px;
    color: $white;
    border: 2px solid $white;
    border-radius: 20px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    transition: 0.1s;
    z-index: 3;
}.download-cv-btn:hover {
    background: $black;
}

.home-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    object-fit: cover;
    opacity: 0.2;
}

/*---------- project-section -----------*/

.project-section{
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    padding: 150px 100px 100px;
    position: fixed;
    top: 0;
    transition: 0.1s;
    opacity: 0;
}

.project-heading{
    font-size: 100px;
    background: #313131;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: $nav-bg;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}
.mobile-info{display: none;}

.project-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}

.project-card{
    height: 400px;
    position: relative;
}

.project-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 0.1s;
}

.project-content{
    position: relative;
    padding: 40px;
    color: $white;
    transition: 0.1s;
    opacity: 0;
}

.project-title{
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}

.project-info{
    margin: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.project-btn-grp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.project-btn{
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    background: $black;
    color: $white;
    cursor: pointer;
}

.project-btn.live{
    background: none;
    border: 2px solid $white;
}

.project-card:hover .project-img{
    filter: blur(15px);
}

.project-card:hover .project-content{
    opacity: 1;
}

/* about section */

.about-section{
    width: 100%;
    max-width: 1400px;
    padding: 150px 100px 0;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 0.1s;
}

.about{
    /* width: 100%;
    height: 100%; */
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}

.about-img-container{
    position: relative;
}

.about-info{
    color: $white;
    opacity: 0.6;
    font-size: 20px;
    line-height: 40px;
}

.about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* skills */

.skill-section{
    position: relative;
    margin: 100px 0;
}

.heading{
    text-align: center;
    font-size: 60px;
    color: $white;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
}

.skills-container{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    color: $white;
}

.skill-card{
    position: relative;
}

.skill-img{
    display: block;
    margin: auto;
    height: 200px;
}

.skill-name{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0 20px;
}

.skill-info{
    text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
}

.skill-level{
    position: absolute;
    top: 20%;
    left: 60%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
}

.skill-card:nth-child(1) .skill-level{
    background: $red-trans;
    border-color: $red;
    color: $red;
}.skill-card:nth-child(2) .skill-level{
    background: $blue-trans;
    border-color: $blue;
    color: $blue;
}.skill-card:nth-child(3) .skill-level{
    background: $js-trans;
    border-color: $js;
    color: $js;
}.skill-card:nth-child(4) .skill-level{
    background: $node-trans;
    border-color: $node;
    color: $node;
}.skill-card:nth-child(5) .skill-level{
    background: $skyBlue-trans;
    border-color: $skyBlue;
    color: $skyBlue;
}

/* timeline */

.timeline{
    display: block;
    width: 80%;
    margin: 150px auto;
}

.timeline .heading{
    margin-bottom: 120px;
}

.card{
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    color: $white;
    display: block;
    margin: -60px 0;
    position: relative;
}

.card:nth-child(even){
    margin-left: auto;
}

.card:nth-child(even)::before{
    content: '';
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid $body-bg;
    border-radius: 50%;
}.card:nth-child(even)::after{
    content: '';
    position: absolute;
    left: -8%;
    top: 50%;
    transform: translateY(-50%);
    width: 8%;
    height: 2px;
    background: $white;
    z-index: -1;
}
.card:nth-child(odd)::before{
    content: '';
    position: absolute;
    right: -14%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid $body-bg;
    border-radius: 50%;
}.card:nth-child(odd)::after{
    content: '';
    position: absolute;
    right: -8%;
    top: 50%;
    transform: translateY(-50%);
    width: 8%;
    height: 2px;
    background: $white;
    z-index: -1;
}
/* timeline card colors */
.card:nth-child(2), .card:nth-child(2)::before{
    background: $red;
}.card:nth-child(3), .card:nth-child(3)::before{    
    background: $yellow;
}.card:nth-child(4), .card:nth-child(4)::before{
    background: $green;
}.card:nth-child(5), .card:nth-child(5)::before{
    background: $gray;
}.card:nth-child(6), .card:nth-child(6)::before{
    background: $blue;
}
/* vertical line */
.card:nth-child(even) .card-body::before{
    content: '';
    position: absolute;
    left: -12%;
    top: 0;
    width: 0;
    height: 100%;
    border: 1px dashed $white;
    z-index: -1;
}

.card-title{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

/* ------ contact-section -------- */

.contact-section{
    max-width: 1400px;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 0.1s;
    padding: 150px;
    height: 100vh;
}
.contact-heading{
    font-size: 100px;
    background: $heading-gray;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: $nav-bg;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}
.contact-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.contact-form input, .contact-form textarea {
    font-size: 18px;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid $white;
    border-radius: 8px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: $white;
    padding: 10px 20px;
}
::placeholder{
    color: $white;
}

#msg{
    /* msg textarea */
    height: 280px;
    resize: none;
    font-family: sans-serif;
}

.form-submit-btn{
    background: $red;
    color: $white;
    text-transform: capitalize;
    padding: 15px 20px;
    display: block;
    /* margin: auto; */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* map */
.map{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid $white;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin-top: unset;
}
.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


@media only screen and (max-width: 576px) {
    /* For mobile phones: */
    body{
        max-width: 576px;
    }
    .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: unset;
        display: flex;
        height: 10%;
        width: 100%;
        z-index: 9;
        box-shadow: 0 -3px 10px -3px #2e2e2e;
    }

    .icons{
        display: inline;
    }

    .link span{
        display: block;
        line-height: 25px;
        padding: 5px;
        margin: 0 15px;
        text-align: center;
    }

    .home-section{
        width: 100%;
        height: 90vh;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        max-width: 576px;
        opacity: 0;
    }

    .hero-heading{
        color:$white;
        font-size: 50px;
        text-transform: capitalize;
        font-weight: 400;
        margin-top: 35vh;
    }

    .home-img{
        position: absolute;
        top: 0;
        left: 0;
        right: unset;
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.2;
        z-index: -1;
    }

    .project-section{
        width: 100%;
        max-width: 576px;
        min-height: 100vh;
        padding: 30px 20px;
        top: 0;
        margin-bottom: 100px;
    }
    
    .project-heading{
        background: $heading-gray;
        font-size: 60px;
        margin-bottom: 30px;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke: 5px transparent;
    }
    .mobile-info{
        display: block;
        position: relative;
        color: $white;
        text-align: center;
        margin-bottom: 20px;
        opacity: 0.5;
    }

    .project-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 80px;
    }

    .project-content{
        padding: 20px 10px;
    }.project-title{
        font-size: 40px;
        font-weight: 400;
    }

    // ---contact---
    .contact-section{
        max-width: 576px;
        padding: 20px 15px;
        height: unset;
        min-height: 100vh;
    }
    .contact-heading{
        background: $heading-gray;
        font-size: 60px;
        margin-bottom: 20px;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke: 5px transparent;
    }
    .contact-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: unset;
    }

    .contact-form input, .contact-form textarea {
        font-size: 15px;
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        padding: 10px 15px;
    }
    #msg{
        /* msg textarea */
        height: 180px;
    }
    
    .form-submit-btn{
        background: $red;
        color: $white;
        text-transform: capitalize;
        padding: 15px;
        display: block;
    }

    /* map */
    .map{
        width: 100%;
        height: 100%;
        padding: 5px;
        margin-top: 30px;
    }
    .map iframe{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}